<!-- Main Dashboard Content -->
<main class="container py-8" style="max-width: var(--max-width);">
    <h1 class="display-5 mb-4">User Dashboard</h1>
    <!-- User Table -->
    <div class="card mb-5">
        <div class="card-body ">
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Name :</th>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <th scope="row">Email :</th>
                            <td>john.doe@example.com</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Phone Number :</th>
                            <td>+1-555-123-4567</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>